*{
    padding: 0;

}
ul{
    list-style: none;
    width: 200px;
    height: 500px;
}
ul>li>ul{
    display: none;

}
ul>li:hover>ul{
    display: block;
    height: 100px;

}
.opcion{
    
     background-color: rgb(26, 188, 156);
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
    transition: 0.4s;
    font-family: monospace;

}
.subOpcion{
    padding-left: 20px;
    background: rgb(39, 174, 96);
    color: white;
    margin: 20px;
    
}  



